#b {
  background:#eff3f6;
}

h1 {
	text-align: center;
}

#sizes {
	font-size: 20px;
}

.rowcut {
  display: table;
}

.colcut {
  display: table-cell;
  width: 50%; /* depends on the number of columns */

  padding: 1em;
  border: solid;
}

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}

ul.b {
    list-style-type: square;
}

#botao1 {
    display:block;
    margin: 0 auto;
}